<!DOCTYPE html>
<html>

<head>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    {% assets "js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon"
    href="{{ url_for('static', filename='img/favicon.ico') }}">

</head>

<body>

    <!-- nav -->
    <nav class="navbar navbar-light bg-light">
        <a href="{{url_for('index')}}" class="navbar-brand">CHS Wired</a>
        <ul class="nav mr-auto">
            <li class="nav-item"><a href="{{url_for('main.view_items')}}" class="nav-link">Items</a></li>
            <li class="nav-item"><a href="{{url_for('main.view_reservations')}}" class="nav-link">Reservations</a></li>
            <li class="nav-item"><a href="{{url_for('main.view_students')}}" class="nav-link">Students</a></li>
            <li class="nav-item"><a href="{{url_for('checkout.checkin_item')}}" class="nav-link">Check In</a></li>
            <li class="nav-item"><a href="{{url_for('checkout.checkout_item')}}" class="nav-link">Check Out</a></li>
        </ul>
        <ul class="nav ml-auto">
            <li class="nav-item"><a class="nav-link"href="{{url_for('auth.login')}}">Login</a></li>
            <li class="nav-item"><a class="nav-link"href="{{url_for('main.profile')}}">Profile</a></li>
        </ul>
    </nav>
    <br><br>
    {% block content %}
    {% endblock %}
</body>

</html>