{% extends "base.html" %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="row justify-content-center">
      <div class="notification is-danger">
          {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
      </div>
    </div>
  {% endif %}
  {% endwith %}
  <div class="row justify-content-center">
  <form action="signup" method="post">
    <label for="email">Email</label><br>
    <input type="text" name="email" id="email"><br><br>
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name"><br><br>
    <label for="pwd">Password</label><br>
    <input type="password" name="pwd" id="pwd"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
</div>

{% endblock %}