{% extends 'base.html' %}

{% block content %}
<script src="{{url_for('static', filename='out.js')}}"></script>

<h1>{% block title %} check out item {% endblock %}</h1>

<form id="form" method="post">
    <select name="name">
        <option value="{{names[0]['name']}}" selected>{{names[0]["name"]}}</option>
        {% for name in names[1:] %}
          <option value="{{name['name']}}">{{name["name"]}}</option>
        {% endfor %}
      </select>
      <br>
    <input type = "button" id = "scan" value = "Scan" />
    <div style="width:0;overflow: hidden;"><input type="text" id="code" name=code></div>
    <div style="width:0;overflow: hidden;"><input type="text" id="ids" name=ids></div>
    </div>
    <div id="items"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}